:root {
  --primary-white-color: #ffffff;
  --Light-mode-backgrounds-color: #f4f4fd;
  --heading-color: #2e2f42;
  --light-blue-color: #4d5ae5;
  --active-button-color: #404bbf;
  --text-color: #434455;
  --light-accent-color: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--primary-white-color);
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
}

/* -------------Header-------------- */

.page-header {
  border-bottom: 1px solid var(--light-accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
}
.header-logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: var(--light-blue-color);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-weight: 800;
  margin-right: 76px;
}

.logo-accent {
  color: var(--heading-color);
}

.nav-list.link {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list.link:hover,
.nav-list.link:focus,
.nav-list.link:active {
  color: var(--active-button-color);
}
.nav-list.current.link {
  color: var(--active-button-color);
  position: relative;
}

.nav-list.current.link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-button-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.adress-list {
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-link.link,
.list {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link.link:hover,
.address-link.link:focus,
.address-link.link:active {
  color: var(--active-button-color);
}

.banner {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg.jpg);
  background-color: var(--heading-color);
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 56px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.button {
  font-family: Roboto, sans-serif;
  background: var(--light-blue-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--active-button-color);
}

.section-subtitle {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.intro-list {
  gap: 24px;
}

.intro-block {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Light-mode-backgrounds-color);
  border-radius: 4px;
  margin-bottom: 8px;
}
.intro-list-icon {
}

.intro-list-item {
  width: calc((100% - 24px * 3) / 4);
}

.list {
  list-style-type: none;
}

.intro {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list .intro-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section-title {
  color: var(--heading-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.services {
  padding-bottom: 120px;
}

.services-list {
  gap: 24px;
}

.services-list-item {
  width: calc((100% - 24 * 2) / 3);
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--Light-mode-backgrounds-color);
}

.team-subtitle {
  text-align: center;
}

.team-list {
  gap: 24px;
}

.team-list-item {
  background-color: var(--primary-white-color);
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 0;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin: 8px;
}

.team-social-list {
  gap: 24px;
  justify-content: center;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--light-blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--active-button-color);
}

.team-social-icon {
  fill: var(--Light-mode-backgrounds-color);
}

.customers {
  padding: 120px 0;
}
.customers-container {
}

.customers-list {
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
  width: calc((100% - 24 * 5) / 6);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--active-button-color);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-button-color);
  color: var(--active-button-color);
}

.customers-icon {
  fill: currentColor;
}

footer {
  background-color: var(--heading-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  color: var(--light-blue-color);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--Light-mode-backgrounds-color);
}

.footer-text {
  color: var(--Light-mode-backgrounds-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.footer-social-text {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-icon {
  fill: var(--Light-mode-backgrounds-color);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--light-blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.form-container {
  margin-left: 80px;
}

.form-title {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--primary-white-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; /* 200% */
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: var(--primary-white-color);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--light-blue-color);
  border: none;
  min-width: 165px;
  height: 40px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--active-button-color);
}

.footer-send-icon {
  margin-left: 16px;
  fill: var(--primary-white-color);
}

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.projects-list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects-button {
  font-family: Roboto, sans-serif;
  background-color: var(--Light-mode-backgrounds-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-blue-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--light-accent-color);
  background: var(--Light-mode-backgrounds-color);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover,
.projects-button:focus {
  background-color: var(--active-button-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  list-style-type: none;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-item-list {
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-item {
  background: var(--primary-white-color);
  width: calc((100% - 48px) / 3);
}

.project-subtitle {
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.projects-card-content {
  padding: 32px 16px;
  border: 1px solid var(--light-accent-color);
  border-top: none;
}

.cashless-payment-cover-container {
  position: relative;
  overflow: hidden;
}

.cashless-payment-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Light-mode-backgrounds-color);
  background-color: var(--light-blue-color);
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:is(:hover, :focus) .cashless-payment-cover-text {
  transform: translateY(0);
}

/* ------------------MODAL-------------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--active-button-color);
  border: none;
  fill: var(--primary-white-color);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: flex;
  color: var(--heading-color);
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 0 10px 0 38px;
  color: var(--heading-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--light-blue-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--light-blue-color);
}

.modal-form-btn {
  border-radius: 4px;
  background: var(--light-blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-field {
  margin-bottom: 16px;
}

.modal-text-area {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
  background-color: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.modal-text-area:focus {
  border-color: var(--light-blue-color);
}
.modal-checkbox {
  margin-bottom: 24px;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
}

.privacy-link {
  color: var(--light-blue-color);
}

.user-terms-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
}

.modal-check:checked + .check-text span {
  background-color: var(--active-button-color);
  border: none;
  fill: var(--Light-mode-backgrounds-color);
}

.modal-check:focus + .check-text span {
  border-color: var(--light-blue-color);
}
